
.contactInfo-form{
    width: 100%;
    height: auto;

    margin-top: 30px;
}
.contact-form-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-info{
    width: 30%;
    height: 575px;
    margin-bottom: 30px;
    background-color: #070b3b;
    padding: 52px 35px 22px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.contact-info>span {
    color: #ffc221;
    display: block;
    margin-bottom: 5px;
}
.contact-info>h2 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 15px;
}
.contact-info>p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    
}
.contact-info>ul{
    padding: 0;
}
.contact-info>ul>li .content>h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    display: block;
}
.contact-info>ul>li {
    display: block;
    margin-bottom: 30px;
    padding-left: 60px;
    position: relative;
}
.contact-info>ul>li .content>span {
    color: #ffffff;
    font-weight: 400;
    display: block;
    font-size: 15px;
}
.contact-info>ul>li .content>a {
    color: #ffffff;
    display: block;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.4s;
}
.contact-info>ul>li .content>a:hover {
    color: #25aae1
}
.contact-info>ul>li .content>svg {
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 45px;
    background-color: #ffffff;
    font-size: 20px;
    color: #25aae1;
    border-radius: 50px;
    border: 1px solid #E2E2E2;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.form-div{
    width: 65%;
    height: auto;
    /* padding: 0 20px; */
    margin-left: 56px;
    margin-bottom: 30px;
    align-content: center;
}
.form-div .form-group>label {
    color: #252525;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.form-div .form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-div .form-control {
    height: 50px;
    color: #252525;
    border: 1px solid #25aae1;
    background-color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 0;
    font-weight: 500;
}
.form-div .agree-label {
    margin-bottom: 15px;
    position: relative;
}
.form-div .agree-label>#chb1 {
    position: absolute;
    top: 5px;
    left: 0;
}
.form-div .agree-label>label {
    font-weight: 500;
    color: #252525;
    margin-left: 25px;
}
.form-div .agree-label>label>a {
    color:#25aae1;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.5s;
    text-decoration: none;
}
.button-class{
    margin-top: 10px;
}
.button-class>button {
    background: #25aae1;
    border: 2px solid #25aae1;
    padding: 12px 25px;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.4s;
}
.button-class>button:hover{
    background: transparent;
    color: #25aae1;
}

@media (max-width: 769px) {
    .contact-info {
        width: 100%;
        height: auto;
        padding: 30px 20px 22px;

    }
    .form-div {
        width: 100%;
        padding: unset;
        margin-left: unset;
    }
    .button-class>button {
        padding: 8px 20px;
        font-size: 14px;
    }
}
@media (max-width: 426px) {

}